<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
    <h2>Add User</h2>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label >First Name</label>
            <input type="text" [(ngModel)]="user.firstName" class="form-control" name="firstName">
        </div>
        {{ user.firstName }}
        <div class="form-group">
            <label >Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label >Age</label>
            <input type="number" class="form-control" [(ngModel)]="user.age" name="age">
        </div>
        <div class="form-group">
            <label >Street</label>
            <input type="text" class="form-control" [(ngModel)]="user.address.street" name="street">
        </div>
        <div class="form-group">
            <label >City</label>
            <input type="text" class="form-control" [(ngModel)]="user.address.city" name="city">
        </div>
        <div class="form-group">
            <label >State</label>
            <input type="text" class="form-control" [(ngModel)]="user.address.state" name="state">
        </div>

    <button (click)="addUser()" [disabled]="user.firstName == '' || user.lastName == '' " class="btn btn-block mb-3">Add New User</button>
    </form>
</div>
<ul class="list-unstyled">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
        <div class="row">
            <div class="col-sm -4">
                <img *ngIf="user.image" class="img-fluid" [src]="user.image" alt="">
            </div>
            <div class="col-sm-8">
                <h2>{{ user.firstName }}  {{ user.lastName }} <small *ngIf="user.age && user.address"><button (click)="user.hide=!user.hide" class="btn btn-dark btn-sm"><i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button></small></h2>
                <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
                    <li class="list-group-item">Age: {{ user.age }}</li>
                    <li class="list-group-item">Date: {{ user.registered | date:"YYYY" }}</li>
                </ul>
            </div>
        </div>
        
    </li>
</ul>
